.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  @include respond(bp-smallest) {
    order: 1;
    // Make the width of the search widder in order to put in other row
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);

    &:focus-within {
      border-top-width: 1px;
      border-top-style: solid;
      border-top-color: var(--color-dark-sky-blue);
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: var(--color-dark-sky-blue);
      box-shadow: 0 0 0 0.3rem rgba(0, 123, 255, 0.25);
    }
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);

      @include respond(bp-smallest) {
        width: 90%;
      }
    }

    // Just work in chrome and safari browser
    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__input:focus + &__button > &__icon {
    fill: var(--color-dark-sky-blue);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    // Give color to SVG icon
    fill: var(--color-grey-dark-3);
  }
}
